/* -----------ControlComponent------------------ */

.control_container {
    background: transparent;
    height: 35px;
    display: flex;
    align-items: flex-end;
    /* color: red; */
}

.control_button {
    height: 35px;
    background: transparent;
    width: max-content;
    color: #333333;
    border-radius: 5px;
    border: 1px solid #CCCCCC;

}

.down_caret {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
}

/* -----------OptionComponent------------------ */

.option_label {
    margin-left: 10px;
}

/* -----------FilterComponent------------------ */

.external_filter_div {
    border: 1px solid gray;
    margin-bottom: 5px;
    border-radius: 5px;
}

.filter_container {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px #EBEBEB solid;
}

.search_icon {
    position: absolute;
    left: 10px;
    color: #333333;
}

.filter_input {
    width: 100%;
    padding: 10px;
    padding-left: 35px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
}


/* -------------CustomComponentStyles---------------------- */
.dropdown_container {
    position: absolute;
    border: 1px solid #ccc;
    min-width: 250px;
    max-width: max-content;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown_input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    border-radius: 3px;
}

.dropdown_list {
    max-height: 250px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.dropdown_item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.dropdown_item:hover {
    background-color: #DEEBFF;
}

.dropdown_item_selected {
    background-color: red;
    color: white;
}

.no_items {
    padding: 8px;
    text-align: center;
    color: #666;
}